body {
  background-color: rgb(20, 20, 25);
}

h1 {
  font-family: verdana;
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 5px 20px;
  color: white;
  text-align: center
}

div {
  background-color: rgb(10, 10, 12);
  width: 1250px;
  border: 5px solid white;
  padding: 5px 20px;
  margin: 20px 10px;
  font-family: verdana;
  font-size: 20px;
  color: white;
  text-align: center
}

div.normal {outline-style: solid;}
div.dotted {outline-style: dotted;}
div.dashed {outline-style: dashed;}
div.dotted-offset {
	outline-style: dotted;
	outline-offset: 10px
}

.header {
  background-color: rgb(10, 10, 12);
  padding: 20px;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: rgb(10, 10, 12);
  padding: 5px 20px;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: rgb(40, 40, 50);
  color: rgb(10, 10, 12);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: rgb(10, 10, 12);
  text-align: center;
  padding: 5px 20px;
}